
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Playfair Display', sans-serif;
    background-color: beige;
    display: grid;
    
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}

.nav-r {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-r > button {
    border: none;
    background: linear-gradient(to right, orange, rgb(255, 28, 73));
    padding: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: bold;
}

.nav-center > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left > button {
    border: none;
    border-radius: 10px;
    background-color: rgb(74, 74, 241);
    color: white;
    padding: 20px;
    margin-left: 10px;
 }

 .menumobile {
     display: none;
 }

 header {
     grid-column: 1 / 4;
 }


a {  
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 40px;
    margin-top: 40px;
}

h1 {
    margin-bottom: 10px;
}